body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.imgCarouselProductos{
    height: 450px;
    object-fit: cover;  /*el ancho se adapta a mi height*/
}

@media all and (max-width: 767px){
    #imgError404{
        width: 50%;
    }
}


@media all and (min-width: 768px) and (max-width:991px){
    #imgError404{
        width:35%
    }
    .imgCarouselProductos{
        height: 500px;
        object-position: 30%;
    } 
}

@media all and (min-width: 992px){
    #imgError404{
        width: 25%;
    }
    .imgCarouselProductos{
        height: 600px;
        object-position: 0%;
    }
}